{% extends 'base.html.twig' %}

{% block title %}TP{% endblock %}

{% block body %}

    <div class="Centrer">

        <h1>{{ controller_name }}</h1>

        {% if detailContact.newsletter == 0 %}

            {% set newsletter = "Non" %}

        {% else %}

            {% set newsletter = "OK" %}

        {% endif %}

        <div style="display: flex; flex-direction: column;">
            <li>Id : <strong>{{detailContact.id}}</strong></li>
            <li>Prénom : <strong>{{detailContact.firstname}}</strong></li>
            <li>Nom : <strong>{{detailContact.name}}</strong></li>
            <li>Age: <strong>{{detailContact.age}}</strong></li>
            <li>newsletter : <strong>{{newsletter}}</strong></li>
        </div>


    </div>


{% endblock %}